<?xml version="1.0" encoding="utf-8"?>
<!--
 ~ Copyright (c) 2017, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.wso2.iot.nfcprovisioning">

    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AuthenticationActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_authentication"/>
        <activity android:name=".ProvisioningActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".SettingsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsScreenTheme"
            android:parentActivityName="org.wso2.iot.nfcprovisioning.ProvisioningActivity"
            android:label="@string/title_activity_settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.wso2.iot.nfcprovisioning.ProvisioningActivity" />
        </activity>
        <activity android:name=".AdvancedSettingsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsScreenTheme"
            android:parentActivityName="org.wso2.iot.nfcprovisioning.ProvisioningActivity"
            android:label="@string/title_activity_advanced_settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.wso2.iot.nfcprovisioning.ProvisioningActivity" />
        </activity>
    </application>

</manifest>